{% extends 'base.html.twig' %}
{% block body %}
<div style="background-image: url('/image/foto/4.jpg') ; " >

<div class="jumbotron" style="margin-top:0px; width:75%; margin:0 auto; background: rgba(11, 13, 24, 0.6);">

 <h1 class="display-6" style="color:#808000;">Profitez du service AtypikHouse à fin de partager vos cabane avec nos clients !</h1>

 <!-- formulaire de la modification de role -->
                     <div class="col-lg-10">
                      <label style="color:#808000;">Votre email:</label>
                    <button type="submit" class="btn btn-success"><a href="#"> Devenir un propriétaire!</a></button>
                </div>

            {{ form_end(form) }}
        </div>
		</div>


{% endblock %}