<form method="post" action="{{ path('partner_delete', {'id': partner.id}) }}" onsubmit="return confirm('vous étes sur que vous voulez suprimer ce partenaire');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partner.id) }}">
    <button class="btn">Delete</button>
</form>
