{% extends 'base.html.twig' %}
{% block body %}
<body style="background-image: url('/image/foto/2.jpg');" >

 <div class="jumbotron" style="margin-top:0px; width:80%; height:500px; margin:auto; margin-top:30px; background: rgba(11, 13, 24, 0.6);">
 <div style="margin:auto; margin-top:190px;">
 <h1 class="display-6" style="color:white; ">REJOIGNEZ L'AVENTURE DE ATYPIKHOUSE ET BOOSTEZ VOS VENTES !</h1>
                   <div class="col-lg">
                      <button type="button" class="btn btn-success btn-lg"><a style="color:white;" href="{{ path('partner_new')}}"> C'EST PARTI !</a></button>
                    </div>
        </div>
        </div>
		
{% endblock %}